/*--------------------------------------------------
/@author:Abdellatif Ahammad& azadein hariti
/@license:GNU license it's free and only for our school as a gift
/if some one read this thanks for all :') ,and keep going
/---------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Amiri&display=swap");
@import url("https://fonts.googleapis.com/css?family=Scheherazade&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Amiri", serif;
}

/*-----------------
*the footer style start
------------------*/

.estsb-footer {
  background-color: #1d3159;
  padding-top: 15px;
  color: white;
  height: auto;
  padding-bottom: 12px;
}

/*-----------------
*the navbar style start
------------------*/

.estsb-nav {
  color: white !important;
  background: #1d3159;
}
.estsb-text {
  color: #1ca698;
  text-align: center;
}
.estsb-text-footer {
  color: #f2b544;
  text-align: center;
}

.estsb-image-header {
  width: 200px;
  height: 100px;
  align-items: center;
}

.estsb-image-footer {
  width: 200px;
  height: 100px;
  align-items: center;
  margin-left: 8rem;
  justify-content: center;
}
.estsb-text-2 {
  color: #1d3159;
  text-align: center;
}
.estsb-text-footer-2 {
  color: white;
  text-align: center;
}
.estsb-img-container {
  padding-top: 13px;
  padding-left: 4rem;
  padding-right: 4rem;
}
.estsb-navbar {
  background-color: #f2b544;
}
/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

.estsb-first-section {
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  width: 100%;
}

.estsb-first-section:before {
  content: "";
  background: rgba(47, 46, 48, 0.25);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.estsb-first-section > .intro-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 90px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

.intro-container > h1 {
  color: #fff;
  /* font-family: "Raleway", sans-serif; */
  font-size: 70px;
}

@media only screen and (max-width: 600px) {
  .intro-container > h1 {
    color: #fff;
    /* font-family: "Raleway", sans-serif; */
    font-size: 50px;
  }
}

.intro-container > h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.intro-container > h1 span {
  color: #f82249;
}

.intro-container > p {
  color: #ebebeb;
  font-weight: 700;
  font-size: 20px;
}

.intro-container > .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#f82249 50%, rgba(101, 111, 150, 0.15) 52%);
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
}

.intro-container > .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.intro-container > .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid rgba(163, 163, 163, 0.4);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.intro-container > .play-btn:hover::after {
  border-left: 15px solid #f82249;
  -webkit-transform: scale(20);
  transform: scale(20);
}

.intro-container > .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

.intro-container > .about-btn {
  text-decoration: none;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: rgb(255, 255, 255);
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #f82249;
}

.intro-container > .about-btn:hover {
  background: #f82249;
  color: #fff;
}

.estsb-second-section {
  background-color: #1e2b36;
  color: #ebebeb;
  padding-bottom: 2%;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  /* clip-path: polygon(0 0, 100% 0, 100% 53%, 0 66%); */
}

.estsb-presentation {
  font-size: 20px;
}

.line {
  background-color: #1ca698;
  height: 2px;
  width: 10%;
  align-content: center;
  margin-left: 45%;
  margin-bottom: 15px;
  border-radius: 50px;
}

.header-card-img-1 {
  background-image: url("../img/gi.jpg");
  background-size: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 12px;
  transition: all 0.5s;
}

.header-card-img-1:hover {
  transform: scale(1.1);
  transition: 0.5s all;
}

.header-card-img-2 {
  background-image: url("../img/TM.jpg");
  background-size: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 12px;
  transition: all 0.5s;
}

.header-card-img-2:hover {
  transform: scale(1.1);
  transition: 0.5s all;
}

.header-card-img-3 {
  background-image: url("../img/GA.jpg");
  background-size: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 12px;
  transition: all 0.5s;
}

.header-card-img-3:hover {
  transform: scale(1.1);
  transition: 0.5s all;
}

/* .card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s all;
}

.card:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
    z-index: 1000;
    transition: 0.5s all;
} */

.estsb-third-section {
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.estsb-btn-download {
  border-radius: 50px;
  color: #226df8;
}

/* the posts card designe */

.director_word {
  background-color: #1d3159;
  color: #ebebeb;
  padding-bottom: 2%;
  padding-bottom: 12px;
  padding-top: 10px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  margin-top: 2%;
  height: auto;
  margin-bottom: 12px;
}

.img-director {
  background-image: url("../img/Saber_Najib.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.director-word-text {
  font-size: 22px;
  text-align: left;
}

.estsb-posts-card {
  background: #1d3159;
  color: white;
  height: 310px;
  padding-right: 12px;
  overflow: hidden;
  border-radius: 10px;
}

.estsb-post-img {
  height: 310px;
  width: 100%;
  filter: blur(1.1);
}

.estsb-post-cover:before {
  content: "";
  filter: blur(0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 12px;
  z-index: 3;
}

.estsb-post-title {
  font-family: "Scheherazade", serif;
  color: #f2b544;
}
.estsb-post-writer {
  color: #f86868;
}
@media screen and (max-width: 770px) {
  .estsb-posts-card {
    background: #1d3159;
    color: white;
    height: auto;
    width: 100%;
    margin-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    overflow: hidden;
  }
  .estsb-post-img {
    height: 150px;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
  }
  .estsb-post-cover:before {
    content: "";

    position: absolute;
    bottom: 0;
    top: 10px;
    left: 14px;
    right: 14px;
    z-index: 3;
  }
}

.estsb-readmore-btn {
  background-color: #1ca698;
  border: none;
  border-radius: 50px;
  width: 120px;
}

.estsb-post-div-img > img {
  height: 250px;
  width: 100%;
}

.estsb-post-card-title {
  font-size: 28px;
}

.post-author {
  height: 40px;
}

.estsb-body {
  background-color: rgb(241, 241, 243);
}

.estsb-header {
  background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
  .estsb-header {
    height: 350px;
    background-color: rgb(255, 255, 255);
  }
}

.logo {
  margin-top: 5%;
  background-image: url("../img/logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
}

/* calendar widget */

.widget_calendar {
  float: center;
}

#wp-calendar {
  width: 100%;
}

#wp-calendar caption {
  text-align: right;
  color: #333;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 15px;
}

#wp-calendar thead {
  font-size: 10px;
}

#wp-calendar thead th {
  padding-bottom: 10px;
}

#wp-calendar tbody {
  color: #aaa;
}

#wp-calendar tbody td {
  background: #f5f5f5;
  border: 1px solid #fff;
  text-align: center;
  padding: 8px;
}

#wp-calendar tbody td:hover {
  background: #fff;
}

#wp-calendar tbody .pad {
  background: none;
}

#wp-calendar tfoot #next {
  font-size: 10px;
  text-transform: uppercase;
  text-align: right;
}

#wp-calendar tfoot #prev {
  font-size: 10px;
  text-transform: uppercase;
  padding-top: 10px;
}

#calendar-3 > h4 {
  background: #f2b544;
  color: white;
  padding: 12px;
  height: 45px;
  border-radius: 3px;
}

.calendar_wrap {
  padding-right: 20px;
  padding-left: 20px;
}

#recent-posts-3 {
}

#recent-posts-3 > h4 {
  background: #f2b544;
  color: white;
  padding: 12px;
  height: 45px;
  border-radius: 3px;
}

#recent-posts-3 > ul > li {
  left: 0;
  list-style: none;
  margin-top: 2px;
}
#recent-posts-3 > ul > li > a {
  color: #1d3159;
  font-size: 18px;
  text-align: left;
}

.estsb-sidebar {
  margin-left: 6%;
  padding-top: 12px;
  height: 41rem;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(29, 29, 29, 0.25);
}

.estsb-sidebar-widget {
}

@media only screen and (max-width: 600px) {
  .estsb-sidebar {
    margin-left: 0px;
    padding-top: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.estsb-searchform-div {
  border: #1d3159 1px solid;
  border-radius: 20px;
  margin-bottom: 6%;
  overflow: hidden;
  padding-right: 2px;
}

.estsb-searchform-btn {
  background: #1d3159;
  color: white;
  border: none;
  width: 36px;
  border-radius: 50px;
  margin-top: 2%;
}

.estsb-searchform-input {
  border: none;
}

.estsb-events-slider {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  filter: contrast(0.8);
}

.single-post {
  background-color: #ebebeb;
}

.estsb-navigation-button {
  color: white !important;
}

.estsb-navigation-button > a {
  color: white;
}
